
@model List<rojan1.Models.employee>
@{
    ViewBag.Title = "rojan";
    int sn = 0;
}
<style>
    form {
        display: flex;
        flex-direction: column;
    }
</style>
@using (Html.BeginForm("Index", null, FormMethod.Get))
{
    //the following are search options
    <b> Search Option: </b>@Html.RadioButton("option", "name") <text>Name</text>
    @Html.RadioButton("option", "address") <text>address</text> @Html.RadioButton("option", "id") <text>id</text> @Html.TextBox("search") 
    <input type="submit" name="submit" value="Search" />
}
           

<h2>Employee</h2>
<link rel="stylesheet" href="~/Content/index.css">
<h2>Table</h2>

<table class="table" border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
        <th>contact</th>

    </tr>
    @foreach (var alldata in Model)

    {

        <tr>
            <td>@alldata.id</td>
            <td>@alldata.name</td>
            <td>@alldata.address</td>
            <td>@alldata.contact</td>
            <td><a href="@Url.Action("Edit", new {id=alldata.id})">Edit</a></td>
            <td><a href="@Url.Action("Delete", new {id=alldata.id})">Delete</a></td>


        </tr>
    }

</table>
<button>
    <a href="@Url.Action("create")">Add New Record</a>
</button>
