

@model List<rojan1.Models.employee_salary_details>
@{
    ViewBag.Title = "index";
    int sn = 0;
}
<style>
    form {
        display: flex;
        flex-direction: column;
    }
</style>

@using (Html.BeginForm("Index", null))
{
   <label>from:</label> <input type="date" name="beginDate" />
    <label>to:</label> <input type="date" name="endDate" />
    <input type="submit" value="Search" />
}
<h2>Table Input</h2>

<link rel="stylesheet" href="~/Content/index.css">
<h2>Table</h2>

<table class="table" border="1">
    <tr>
        <th>Employee_id</th>
        <th>Employee_name</th>
        <th>Salary-paid</th>
        <th>Paid-date</th>


    </tr>
    <tr>
        <td clospan="2"> Total</td>
        <td>@(Model.Sum(x=>x.salary_paid))</td>
    </tr>
    @foreach (var alldata in Model)

    {

        <tr>
            <td>@alldata.employee_id</td>
            <td>@alldata.employee.name</td>
            <td>@alldata.salary_paid</td>
            <td>@alldata.paid_date</td>

            <td><a href="@Url.Action("Edit", new {id=alldata.id})">Edit</a></td>
            <td><a href="@Url.Action("deleteData", new {id=alldata.id})">Delete</a></td>


        </tr>
    }
    <tr>
        <td clospan="2"> Total</td>
        <td>@(Model.Sum(x=>x.salary_paid))</td>
    </tr>

</table>
<button>
    <a href="@Url.Action("create")">Add New Record</a>
</button>



